  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title h4" id="example-modal-sizes-title-lg">
        <i class="icon-2x text-dark-50 flaticon-user-add mx-2"></i> Editar Variedad: {{variedad.valor}}
      </div>
    </div>
    <div
      class="overlay overlay-block cursor-default modal-body"
    >
      <ng-container *ngIf="isLoading$ | async">
        <div class="overlay-layer bg-transparent">
          <div class="spinner spinner-lg spinner-success"></div>
        </div>
      </ng-container>

      <div class="form-group row">
        <div class="col-12">
            <div class="form-group">
                <label>NOMBRE DE LA VARIEDAD<span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="" [(ngModel)]="variedad_multiple" name="variedad_multiple">
                <span class="form-text text-muted">Ingresa el nombre del producto.</span>
            </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>STOCK</label>
            <input type="number" class="form-control" [(ngModel)]="stock" name="stock">
            <span class="form-text text-muted">Ingresa el stock del producto.</span>
          </div>
      </div>
</div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary btn-elevate mr-2"
        (click)="update()"
      >
        GUARDAR CAMBIOS
      </button>
      <button
        type="button"
        class="btn btn-light btn-elevate mr-2"
        (click)="modal.dismiss()"
      >
        Cancel
      </button>

    </div>
  </div>