.features-list {
  list-style-type: none;
  padding: 0;
}

.single-features {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

.single-features .icon {
  margin-right: 10px; /* Ajusta esto según tus necesidades */
}

.single-features img {
  display: block;
  margin: 0 auto;
}
.range-variant li {
  cursor: pointer;
  padding: 5px;
  border: 1px solid #ccc;
  margin: 5px 5;
  transition: background-color 0.3s, color 0.3s; /* Transición suave para el hover */
}

.range-variant li:hover {
  background-color: #f0f0f0; /* Color de fondo cuando el cursor pasa sobre el elemento */
}

.range-variant li.selected {
  background-color: #3cb371; /* Color de fondo para la selección */
  color: #fff; /* Color del texto para la selección */
  border-color: #3cb371; /* Color del borde para la selección */
}

.range-variant li.selected:hover {
  background-color: #3cb371; /* Mantén el color de fondo seleccionado al pasar el cursor */
  color: #fff; /* Mantén el color del texto seleccionado al pasar el cursor */
}
.description-container {
  width: 100%; /* O un valor fijo como 600px */
  max-width: 600px; /* Ajusta el ancho máximo si es necesario */
  height: 150px; /* Ajusta la altura fija basada en el número de líneas que quieres mostrar */
  overflow-y: auto; /* Muestra una barra de desplazamiento vertical si el contenido es mayor que la altura */
  padding: 10px; /* Agrega relleno para mayor estética */
  box-sizing: border-box; /* Asegura que el padding no afecte al ancho y alto total */
  /* border: 1px solid #ddd; */ /* Elimina o comenta esta línea si no deseas un borde */
  /* border-radius: 5px; */ /* Opcional: Elimina o comenta esta línea si no deseas bordes redondeados */
}

.description {
  white-space: normal; /* Permite que el texto se ajuste en múltiples líneas */
  word-wrap: break-word; /* Permite que las palabras largas se dividan si es necesario */
  line-height: 1.6; /* Ajusta el espaciado entre líneas */
}
.discount-info {
  padding: 10px;
  margin-top: 10px;
  line-height: 1.6;
  font-size: 15px; /* Ajustar tamaño de fuente si es necesario */
  color: #333;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.discount-info:hover {
  transform: scale(1.02);

}
.discount-label {
  color: #d9534f; /* Color rojo para el texto del descuento */
  font-weight: bold;
  font-size: 16px; /* Aumentar el tamaño de fuente */
}

.campaign-type {
  display: inline-block;
  background-color: #f5c6cb;
  padding: 4px 8px; /* Mayor padding para mayor visibilidad */
  border-radius: 3px;
  margin-left: 5px;
  color: #721c24; /* Color más oscuro para texto */
}

.previous-price-label {
  font-weight: bold;
  color: #666;
  font-size: 16px; /* Aumentar el tamaño de fuente */
}

.previous-price {
  color: #999;
  text-decoration: line-through;
  font-weight: normal;
  margin-left: 5px;
  font-size: 16px; /* Aumentar el tamaño de fuente */
}



.product-large-thumbnail-2 {
  position: relative;
}

.product-large-thumbnail-2 .thumbnail {
  overflow: hidden; /* Oculta el contenido que se desborda */
  position: relative; /* Necesario para el posicionamiento absoluto del zoom */
}

.product-large-thumbnail-2 .thumbnail img {
  transition: transform 0.3s ease, transform-origin 0.3s ease; /* Transiciones suaves para el zoom */
  width: 100%;
  height: auto;
  object-fit: cover;
  transform-origin: center; /* Asegura que el zoom se centre */
}

/* Efecto de zoom al pasar el ratón */
.product-large-thumbnail-2 .thumbnail:hover img {
  transform: scale(1.5); /* Ajusta el valor de scale según el nivel de zoom deseado */
}
