/* You can add global styles to this file, and also import other style files */
.notification-ecommerce {
  position: fixed;
  right: 2%;
  top: 2%;
  background-color: #faebff;
  border: 1px solid #a687ff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  z-index: 1000;
}

.notification-ecommerce svg {
  fill: blueviolet;
}

.text-message-notification {
  font-size: 1rem;
  color: #333;
}

.btn-secondary {
  background-color: #a687ff;
  color: #fff;
  border-radius: 50%;
  padding: 0.5rem 0.7rem;
  font-size: 0.9rem;
}

.notification__close {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 24px;
}

.notification__close svg {
  width: 24px; /* Tamaño deseado */
  height: 24px; /* Tamaño deseado */
}

.notification-show {
  animation: fadeIn 600ms ease-in-out forwards;
  display: flex;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 0;
  }
  100% {
    opacity: 1;
    top: 2%;
  }
}
